/*Виджет*/

@media screen and (max-width:768px){
	.yd-widget-container.inlinesvg_yes .widget-extended-info{
		width: 100%!important;
		left: 0!important;
		margin-left: 0!important;
		top: 60px!important;
		height: 90%!important;
		height: calc(100% - 60px)!important;
		height: -webkit-calc(100% - 60px)!important; /** Safari 6, Chrome 19-25 **/ 
		height: -moz-calc(100% - 60px)!important; 
		overflow: auto!important;
	}
	.yd-widget-container.inlinesvg_yes .widget-extended-info .widget-cols{
		width: 38%!important;
	}
	.yd-widget-container.inlinesvg_yes .widget-extended-info .widget-map-container{
		width:60%!important;
	}
	.yd-widget-container.inlinesvg_yes .widget-extended-info .widget-map-container .ymaps-2-1-71-map{
		width: 100%!important;
	}

	.ymaps-2-1-71-balloon_to_top .ymaps-2-1-71-balloon__tail{
		display: none;
	}
	ymaps.ymaps-2-1-71-balloon-pane{
	    left: 0!important;
		top: auto!important;
		bottom:40px;
		width: 100%!important;
	}
	.ymaps-2-1-71-balloon-overlay{
		left: 0!important;
		top:auto!important;
		bottom:0;
		width: 100%!important;
	}
	ymaps.ymaps-2-1-71-balloon.ymaps-2-1-71-balloon_layout_normal.ymaps-2-1-71-balloon_to_top.ymaps-2-1-71-i-custom-scroll{
		left: 0!important;
		top:auto!important;
		bottom:0;
		width: 100%!important;
	}
	.ymaps-2-1-71-balloon-overlay .ymaps-2-1-71-balloon__content{
		padding-bottom: 0!important;
	}
	.ymaps-2-1-71-balloon-overlay .ymaps-2-1-71-balloon__content > ymaps{
		width: 100%!important;
	}
	.ymaps-2-1-71-balloon-overlay .cw-map-balloon-wrapper{
		height: 100%!important;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: space-between;
	}
	.ymaps-2-1-71-balloon-overlay .delivery-point-footer{
		padding-bottom: 12px;
	}


	.yd-widget-modal{height: auto!important;}
	.ymaps-2-1-55-balloon_layout_panel{bottom:10px!important}
	.cw-variant__cell{padding: 10px 3px!important;}


	.cw-variants-container.postCourier #ms_post	{height: 170px!important; overflow: auto!important;}
	.cw-variants-container.postCourier .slimScrollDiv,
	.cw-variants-container.postCourier #ms_todoors	{height: 200px!important; overflow: auto!important;}
	
}

@media screen and (max-width:600px){
	.yd-widget-container.inlinesvg_yes{
		min-width:100%!important;
	}
	.yd-widget-container.inlinesvg_yes .widget-extended-info>.w-clearfix{
		display: -webkit-flex!important;
		display: -moz-flex!important;
		display: -ms-flex!important;
		display: -o-flex!important;
		display: flex!important;
		-webkit-flex-wrap: wrap!important;
		-moz-flex-wrap: wrap!important;
		-ms-flex-wrap: wrap!important;
		-o-flex-wrap: wrap!important;
		flex-wrap: wrap!important;
	}
	.yd-widget-container.inlinesvg_yes .widget-extended-info .widget-cols{
		float: none!important;
		margin-bottom: 20px!important;
		width: 100%!important;
		flex: 0 0 100%!important;
		max-width: 100%!important;
	}
	.yd-widget-container.inlinesvg_yes .widget-extended-info .widget-map-container{
		float: none!important;
		width: 100%!important;
		flex: 0 0 100%!important;
		max-width: 100%!important;
		order:-1!important;
	}
	.yd-widget-container.inlinesvg_yes .ya-td{
		padding: 5px 8px!important;
		font-size: 11px!important;
		min-width:33%;
	}
	.yd-widget-container.inlinesvg_yes .widget-card-body .price{
		text-align:right!important;
	}
	.yd-widget-container.inlinesvg_yes .w-var-city-v2 .w-city-list-container{
		width:100%!important;
		left:0!important;
		margin-left:0!important;
	}
}


@media screen and (max-width:400px){
	.yd-widget-container.inlinesvg_yes .w-var-city-v2 .w-cities-col{
		box-sizing:border-box;
		padding-right:5px;
	}
	.yd-widget-container.inlinesvg_yes .w-var-city-v2 .w-city-list-link{
		font-size:12px!important;
	}
}


